name: GitHub Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: DishantShahare358

          # ===== Base =====
          base: header

          # ===== Streak / Contributions Bar =====
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          # ===== Activity Summary =====
          plugin_activity: yes
          plugin_activity_limit: 5

          # ===== Appearance =====
          theme: dark
          config_timezone: Asia/Kolkata
