name: Update README Projects

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

permissions:
  contents: write

jobs:
  update-projects:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update README with latest repositories
        uses: jamesgeorge007/github-activity-readme@v0.4.5
        with:
          GITHUB_USERNAME: DishantShahare358
          COMMIT_MSG: "chore: update featured projects"
          MAX_LINES: 6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
